go 1.25.0

use (
	./gen/go
	./services/_shared
	./services/attendance-service
	./services/auth-service
	./services/employee-service
	./services/leave-service
	./services/notification-service
// ./services/audit-service
// ./services/ai-service
)
