go 1.24

use (
	./services/auth-service
	./services/employee-service
	./services/attendance-service
	// ./services/leave-service
	// ./services/notification-service
	// ./services/audit-service
	// ./services/ai-service
	./services/_shared
)
