APP_NAME="HRIS-Stery Gateway"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=hris_db
DB_USERNAME=hris_admin
DB_PASSWORD=hris_admin_secret

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=hris_redis_secret
REDIS_PORT=6379

AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

LEAVE_SERVICE_URL=http://localhost:8084
EMPLOYEE_SERVICE_URL=http://localhost:8082
ATTENDANCE_SERVICE_URL=http://localhost:8083
AUTH_SERVICE_URL=http://localhost:8081
NOTIFICATION_SERVICE_URL=http://localhost:8085
AUDIT_SERVICE_URL=http://localhost:8086
DOCUMENT_SERVICE_URL=http://localhost:8087
